:root {
  /* 
  01 | colors  */

  /* ## neutral color  */
  --very-dark-desaturated-blue: hsl(219, 43%, 16%);
  --very-dark-grayish-blue: hsl(218, 20%, 36%);
  /* cream  */
  --light-grayish-orange: rgb(243, 237, 231);
  /* cream white  */
  --very-light-grayish-orange: hsl(30, 29%, 97%);

  /* ## primary  */
  --light-violet: hsl(264, 100%, 69%);
  --bright-magenta: hsl(292, 76%, 54%);
  --light-orange: hsl(31, 100%, 65%);

  /* ## buttons  */
  --btn-hover: linear-gradient(
    135deg,
    var(--light-violet) 0%,
    var(--bright-magenta) 49.21%,
    var(--light-orange) 100%
  );

  /* 
  02 |  typography  */

  /* ### fonts  */

  /* tailored font sizes  */
  /* ## font sizes  */
  --fs-heading-xl: 2.375rem;
  --fs-heading-l: 2.5rem;
  --fs-heading-m: 1.125rem;
  --fs-heading-s: 1rem;
  --fs-body: 1rem;
  --fs-quote: 1.125rem;
  --fs-footer: 0.9375rem;
  --fs-btn: 0.875rem;

  /* note: these are heading and labels for the metrics section  */
  --fs-h2: 3rem;
  --fs-label: 1rem;

  /* ## font weight  */
  --fw-400: 400;
  --fw-700: 700;

  /* ## font family  */
  --ff-primary: 'Epilogue', sans-serif;

  --br: var(--br-custom, 1rem);
}

/* tablet font sizes  */

@media (min-width: 48em) {
  :root {
    --fs-heading-xl: 3.5rem;
    --fs-btn: 1rem;
  }
}

/* desktop font sizes  */
@media (min-width: 67.5em) {
  :root {
    --fs-heading-xl: 4.5rem;
    --fs-heading-l: 3rem;
    --fs-body: 1.125rem;
    --fs-footer: 0.9375rem;
  }
}

/* reset  */

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul[class] {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

/* general style and structure  */

body {
  background-color: var(--very-light-grayish-orange);
  color: var(--very-dark-desaturated-blue);
  font-size: var(--fs-body);
  font-weight: var(--fw-400);
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.flow-content > * + * {
  margin-top: var(--spacer, 2rem);
}

img {
  max-width: 100%;
  /* display: block; */
}

/* socials */

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.social-list,
.social-item {
  padding: 0;
}

.social-item + .social-item {
  margin-left: 2rem;
}

.social-link {
  text-decoration: none;
}

/* buttons  */

.btn {
  --br-custom: 6px;

  font-size: var(--fs-btn);
  font-weight: var(--fw-700);
  background: var(--bg, transparent);
  color: var(--fg, var(--very-dark-desaturated-blue));
  border: 1px solid var(--very-dark-desaturated-blue);
  border-radius: var(--br-custom);
  font-weight: var(--fw-700);
  line-height: inherit;
  padding: 0.75rem 1.0625rem;
  transition: all 0.25s ease-in;
}

.btn--hero {
  --fg: var(--very-light-grayish-orange);
  --bg: var(--very-dark-desaturated-blue);
  border: none;
  padding: 0.9375rem 2rem;
}

/* typography  */

.heading-xl {
  font-size: var(--fs-heading-xl);
  font-weight: var(--fw-400);
  line-height: 1.2;
}

.heading-xl strong {
  font-weight: var(--fw-700);
}

.heading-l {
  font-size: var(--fs-heading-l);
  font-weight: var(--fw-700);
}

.heading-m {
  font-size: var(--fs-heading-m);
  font-weight: var(--fw-700);
}

.heading-s {
  font-size: var(--fs-heading-s);
  font-weight: 400;
}

.h2 {
  font-size: var(--fs-h2);
}

.label {
  font-size: var(--fs-label);
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.quote {
  font-size: var(--fs-quote);
  letter-spacing: 0.9px;
}

footer {
  font-size: var(--fs-footer);
}

/* header  */

header {
  padding: 1.5em 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hero  */

.hero__content {
  position: relative;
  padding: 3.5em 0.9375em 3.5em 0;
  z-index: 3;
}

.hero__content::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../assets/pattern-curved-line-1.svg');
  background-repeat: no-repeat;
  background-size: 9.5rem auto;
  background-position: top 13% right 30%;
  z-index: -1;
}

.heading-xl {
  padding-top: 1rem;
}

.hero-img > img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: var(--br);
}

.metrics {
  text-align: center;
  padding: 3.5rem 0 3.5rem;
}

/* testimonial  */
.d-grid {
  display: grid;
  position: relative;
  grid-template-rows:
    minmax(min-content, 11.3125rem) minmax(min-content, 16.3125rem)
    minmax(min-content, 32.9375rem);
  overflow: hidden;
}

.testimonial {
  position: relative;
  text-align: center;
  border-radius: var(--br);
}

.testimonial::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../assets/pattern-blur.svg');
  background-repeat: no-repeat;
  background-position: center top -5%;
}

.d-grid > .testimonial-img {
  position: absolute;
  justify-self: center;
  align-self: flex-start;
  grid-row: 1 / span 2;
}

.testimonial-img > img {
  width: 100%;
  height: 402px;
  object-fit: contain;
}

.testimonial__content {
  --spacer: 2.5rem;
  padding: 16.3125rem 1rem 4rem;
  background-color: var(--very-dark-desaturated-blue);
  color: var(--very-light-grayish-orange);
  grid-row: 2 / span 2;
  border-radius: var(--br);
}

.testimonial__content > img {
  margin-bottom: 2.5rem;
}

/* footer  */

footer {
  background-color: var(--light-grayish-orange);
  text-align: center;
  padding: 3.5em 05em;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

/* tablet   */

@media (min-width: 48em) {
  /* tablet structure and layout  */

  body {
    padding: 0 1.5em;
  }

  .container {
    max-width: 689px;
    width: 90%;
    margin: 0 auto;
  }

  /* typography - tablet */

  .heading-l {
    font-size: var(--fs-heading-l);
    line-height: 0.9;
  }

  /* header - tablet */

  header {
    padding: 2.5em 0 5em;
  }

  /* hero - tablet */

  .hero__content::before {
    background-repeat: no-repeat;
    background-size: 231px auto;
    background-position: top 8% right 28%;
  }

  .hero {
    display: grid;
    max-width: 43.0625rem;
    align-items: center;
    /* grid-template-columns: 25.5rem 10.3125rem 7.25rem; */
    grid-template-columns:
      minmax(min-content, 25.5rem) minmax(min-content, 10.3125rem)
      minmax(min-content, 7.25rem);
    /* grid-template-rows: 30.125rem 5.5rem 5.1875rem; */
    grid-template-rows:
      minmax(min-content, 30.125rem) minmax(min-content, 5.5rem)
      minmax(min-content, 5.1875rem);
    margin-bottom: 5.75rem;
  }

  .hero__content {
    --spacer: 2.5rem;
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: end;
    margin: 0;
  }

  .heading-xl {
    letter-spacing: 4px;
  }

  .hero__content .body {
    padding-right: 14.25em;
  }

  .hero-img {
    grid-column: 2 / span 2;
    grid-row: 1;
    justify-self: start;
  }

  .hero-img > img {
    width: 100%;
    height: 482px;
    object-fit: cover;
    border-radius: var(--br);
  }

  .metrics {
    --spacer: 0;
    display: flex;
    justify-content: space-around;
    grid-column: 1 / -1;
    grid-row: 3;
    padding: 0;
  }

  /* testimonial - tablet */

  .d-grid {
    display: grid;
    max-width: 43.0625rem;
    position: relative;
    /* grid-template-rows: 181px 221px 463px; */
    grid-template-rows:
      minmax(min-content, 11.3125rem) minmax(min-content, 13.8125rem)
      minmax(min-content, 28.9375rem);
    margin: 0 auto;
  }

  .testimonial {
    position: relative;
    z-index: 1;
  }

  .testimonial-img > img {
    width: 252px;
    height: 402px;
    object-fit: contain;
  }

  .testimonial__content {
    --spacer: 2.5rem;
    padding: 16.3125rem 3.625em 4rem;
  }

  .testimonial__content > img {
    margin-bottom: 2.25rem;
  }

  /* footer - tablet  */

  footer {
    position: absolute;
    transform: translateY(-70%);
    left: 0;
    right: 0;
    width: 100%;
    padding: 35.1875em 0 4.5em;
  }

  .d-flex {
    --spacer: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 67.5em) {
  /* desktop stucture and layout */
  .container {
    max-width: 69.37rem;
    margin: 0 auto;
  }

  /* buttons  - desktop*/
  .btn {
    cursor: pointer;
    transition: all 0.25s ease-in;
  }

  .btn--hero {
    margin-top: 3.25rem;
  }

  .btn--header:hover,
  .btn--header:active {
    --fg: var(--very-light-grayish-orange);
    --bg: var(--very-dark-desaturated-blue);
  }

  .btn--hero:hover,
  .btn--hero:active {
    --fg: var(--very-light-grayish-orange);
    --bg: var(--btn-hover);
  }

  /* socials - desktop  */

  .social-link {
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
  }

  .social-link img:hover,
  .social-link img:active {
    opacity: 50%;
  }

  /* header  */
  header {
    padding: 3.125em 0 4.1875em;
  }

  /* hero  - desktop*/

  .hero {
    display: grid;
    max-width: 69.375rem;
    align-items: center;
    justify-content: center;
    grid-template-columns:
      minmax(min-content, 29.625rem) minmax(min-content, 22.25rem)
      minmax(min-content, 15rem) minmax(min-content, 2.5rem);
    grid-template-rows: minmax(min-content, 37.5rem);
    margin-bottom: 9em;
  }

  .hero__content {
    --spacer: 2.5rem;
    max-width: 39.6875rem;
    grid-column: 1 / span 2;
    justify-self: start;
    align-self: center;
    padding: 3.125em 0 5.75em;
    grid-row: 1;
    margin: 0;
    z-index: 1;
  }

  .hero__content::before {
    background-repeat: no-repeat;
    background-size: 287px auto;
    background-position: top 5% right 14%;
  }

  .hero__content .body {
    padding-right: 18.75rem;
    margin-bottom: 0.9375em;
  }

  .hero-img {
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: end;
  }

  .hero-img > img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: var(--br);
  }
  .metrics {
    --spacer: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: end;
    text-align: left;
    grid-column: 3;
    grid-row: 1;
    padding: 0;
  }

  /* testimonial - desktop */
  .d-grid {
    display: grid;
    max-width: 1110px;
    position: relative;
    justify-content: space-between;
    grid-template-columns:
      minmax(min-content, 5rem) minmax(min-content, 23.4375rem)
      minmax(min-content, 31.0625rem) minmax(min-content, 7.8125rem);
    grid-template-rows: minmax(min-content, 3.4375rem) minmax(
        min-content,
        34.0625rem
      );
    margin: 0 auto;
  }

  .testimonial {
    position: relative;
    text-align: center;

    border-radius: var(--br);
  }

  .testimonial::before {
    background-position: bottom -100% left;
    /* z-index: -1; */
  }

  /* testimonial img - desktop  */

  .d-grid > .testimonial-img {
    position: absolute;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    justify-self: end;
  }

  .testimonial-img > img {
    width: 100%;
    height: 600px;
    object-fit: contain;
  }

  /* testimonial content - desktop  */

  .testimonial__content {
    --spacer: 2.5rem;
    display: grid;
    grid-template-columns: minmax(min-content, 4rem) minmax(
        min-content,
        31.0625rem
      );
    gap: 0 40px;
    grid-column: 1 / -1;
    grid-row: 2;
    justify-content: end;
    align-items: center;

    background-color: var(--very-dark-desaturated-blue);
    color: var(--very-light-grayish-orange);
    text-align: left;
    border-radius: var(--br);
    padding: 0;
  }

  .testimonial__content > section {
    max-width: 21.875rem;
  }

  .testimonial__content > img {
    align-self: flex-start;
    justify-self: center;
    transform: translateY(10.625rem);
  }

  footer {
    transform: translateY(-50%);
    padding: 22.5em 0 4.5em;
  }
}
